* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: 'Playfair Display', serif;
  font-size: 10px;
}

header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.9rem;
  text-align: center;
  letter-spacing: 2px;
}

section p:nth-of-type(1), p:nth-of-type(3) {
  text-indent: 20px;
}

main{
  line-height: 1.5;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
}

aside {

}

nav {

}

footer {

}

header, section, aside, nav, footer {
  padding: 5px;
}

header, footer {
  border-top: 5px solid rgb(170, 102, 102);
  border-bottom: 5px solid rgb(170, 102, 102);
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
}
